* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Philosopher', sans-serif;
}

header {
    display: flex;
    height: 15vh;
    background-color: blueviolet;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    display: flex;
    align-items: flex-start;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

nav li a:hover {

}

main {
    display: flex;
    flex-direction: column;
    background-color: #b4b1ae;
}

#banner {
    display: flex;
    /* height: 25vh; */
    object-fit: contain; 
}

h2 {
    display: flex;
    color: #ce3939;
}

p {
    
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.content-title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 22%;
    margin-right: 15px;
    padding: 5px;
    border-right: 3px solid black;
}

.content {
    display: flex;
    width: 78%;
    justify-content: flex-start;
    padding: 5px;
    margin-right: 20px;
}

.little-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.flex-cards {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
    margin-right: 20px;
    margin-left: 15px;
}

.big-card {
    width: 100%;
    max-width: 810px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #936E6E;
    margin-bottom: 10px;
}

.big-card img {
    max-width: 100%;
    height: auto;
}

.little-card {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #936E6E;
}

.little-card img {
    max-width: 100%;
    height: auto;
}

.content nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.content nav li {
    list-style: none;
}

.content nav a {
    text-decoration: none;
    padding: 10px;
    color: #ce3939;
}
    
}

.content nav li a:hover {

}